body,td,th { font-size: 12px; font-family: arial; color: #666; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: arial; font-size: 12px; color: #666; text-decoration: none; }
div,input,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img { border:none; }
::-webkit-scrollbar { width: 0; }
::selection { background: transparent; }
::-moz-selection { background: transparent; }

#actionmenu {
	top: 50%;
	left: 50%;
	width: 1200px;
	height: 700px;
	display: none;
	overflow: hidden;
	position: fixed;
	background: url("images/background.png");
	border-top: 12px solid #111;
	border-left: 12px solid #111;
	border-right: 12px solid #111;
	border-bottom: 40px solid #111;
	transform: translate(-50%,-50%);
}

buttom {
	top: 50%;
	left: 50%;
	width: 40px;
	height: 14px;
	display: none;
	position: fixed;
	margin-top: 355px;
	background: #8a888c;
	transform: translate(-50%,-50%);
}

buttom:hover {
	background: #fff;
}

.menu {
	width: 1140px;
	height: 54px;
	float: left;
	margin: 134px 30px 0;
}

.menu a {
	color: #a2a0a0;
	padding: 21px;
	font-weight: 700;
	float: left;
}

.menu a:hover, .menu a:focus, .user:hover, .user:focus, .buscar:hover, .buscar:focus  {
	background: #2a2928;
}

.user {
	width: 180px;
	height: 55px;
	margin: 60px 55px 0;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	background: transparent;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
}

.user-id {
	width: 190px;
	height: 60px;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	background: transparent;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
	margin: 4px;
}

.information {
	width: 390px;
	height: 60px;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	background: transparent;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
	margin-top: 10px; 
	margin-left: 2px;
}

.officer {
	width: 390px;
	height: 60px;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	background: transparent;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
	margin-top: 10px;
	margin-left: 2px; 
}

.confirmar-warning {
	width: 200px;
	height: 40px;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
	padding-top: 25px;
	margin: 10px 100px; 
}

.confirmar-ticket {
	width: 200px;
	height: 40px;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
	padding-top: 25px;
	margin: 10px 100px; 
}

.confirmar-arrest {
	width: 200px;
	height: 40px;
	color: #7d7c7c;
	font-weight: 700;
	text-align: center;
	float: left;
	border: 1px solid #7d7c7c;
	background-color: rgba(30,30,30,0.2);
	padding-top: 25px;
	margin: 10px 100px; 
}

.anon {
	padding: 21px;
	color: #8a8a8a;
	font-weight: 700;
	float: right;
}

.title {
	width: 395px;
	float: left;
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 10px;
	margin: 20px 0;
	text-align: center;
	border-bottom: 1px dashed #999;
}

.item {
	width: 840px;
	float: right;
	overflow: hidden;
	background-color: rgba(150,150,150,0.5);
	margin: 5px;
}

.item:hover {
	background: rgba(30,30,30,0.3);
}


.search-itens {
	width: 210px;
	height: 265px;
	position: absolute;
	left: 0;
	top: 37%;
	margin: 57px 40px 20px;
	overflow: auto;
	float: left;
	border: 1px solid #7d7c7c;
}

.info {
	width: 150px;
	color: #7d7c7c;
	padding: 20px;
	margin: 10px 10px;
	font-weight: 700;
	text-align: center;
	background: rgba(30,30,30,0.2);
	border: 1px solid #7d7c7c;
}

.arrests {
	width: 150px;
	color: #7d7c7c;
	padding: 20px;
	margin: 10px 10px;
	font-weight: 700;
	text-align: center;
	background: rgba(30,30,30,0.2);
	border: 1px solid #7d7c7c;
}

.tickets {
	width: 150px;
	color: #7d7c7c;
	padding: 20px;
	margin: 10px 10px;
	font-weight: 700;
	text-align: center;
	background: rgba(30,30,30,0.2);
	border: 1px solid #7d7c7c;
}

.warnings {
	width: 150px;
	color: #7d7c7c;
	padding: 20px;
	margin: 10px 10px;
	font-weight: 700;
	text-align: center;
	background: rgba(30,30,30,0.2);
	border: 1px solid #7d7c7c;
}


.warnings:hover, .warnings:focus, .tickets:hover, .tickets:focus, .arrests:hover, .arrests:focus, .info:hover, .info:focus, .confirmar-ticket:hover, .confirmar-warning:hover, .confirmar-arrest:hover {
	background: #2a2928;
}

#info-result {
	width: 850px;
	height: 320px;
	margin: 20px 50px 50px;
	overflow: auto;
	float: right;
	border: 1px solid #7d7c7c;
}

#info-result2 {
	width: 850px;
	height: 320px;
	margin: 20px 50px 50px;
	overflow: auto;
	float: right;
	border: 1px solid #7d7c7c;
}

#info-result3 {
	width: 850px;
	height: 320px;
	margin: 20px 50px 50px;
	overflow: auto;
	float: right;
	border: 1px solid #7d7c7c;
}

#info-result4 {
	width: 850px;
	height: 320px;
	margin: 20px 50px 50px;
	overflow: auto;
	float: right;
	border: 1px solid #7d7c7c;
}

.info-right {
	width: 400px;
	height: 175px;
	float: right;
	margin-top: 60px;
	text-align: center;
}

.info-left {
	width: 400px;
	height: 175px;
	float: left;
	margin: 60px 20px;
	text-align: center;
}

.parts-one {
	font-size: 20px;
	padding: 15px;
}

.parts-two {
	font-size: 20px;
	padding: 15px;
}

.parts-tree {
	font-size: 20px;
	padding: 15px;
}

r {
	font-weight: 700;
	color: rgba(30,30,30,0.7);
}

.warning-title-one {
	width: 140px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 10px 10px 10px;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
	text-align: center;
}

.warning-title-two {
	width: 475px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
}

.warning-title-tree {
	width: 200px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
}

.warning-itens-one {
	width: 150px;
	float: left;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.warning-itens-two {
	width: 480px;
	float: left;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.warning-itens-tree {
	width: 200px;
	float: left;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.title-one {
	width: 140px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 10px 10px 10px;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
	text-align: center;
}

.title-two {
	width: 150px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
}

.title-tree {
	width: 380px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
}

.title-four {
	width: 160px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #999;
	margin: 0 0 15px;
	text-align: center;
}

.itens-one {
	width: 150px;
	float: left;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.itens-two {
	width: 150px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 16px;
}

.itens-tree {
	width: 400px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: auto;
	text-align: center;
	font-size: 16px;
}

.itens-four {
	width: 120px;
	float: left;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}

.itens {
	width: 850px;
	height: 285px;
	margin-top: 35px;
}

#warnings {
	width: 400px;
	height: 425px;
	position: absolute;
	top: 30%;
	left: 33%;
}

#tickets {
	width: 400px;
	height: 425px;
	position: absolute;
	top: 30%;
	left: 33%;
}

#arrests {
	width: 400px;
	height: 425px;
	position: absolute;
	top: 30%;
	left: 33%;
}