body,td,th { font-size: 12px; font-family: arial; color: #a9a9a9; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: arial; font-size: 12px; color: #a9a9a9; text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img { border:none; }
::-webkit-scrollbar { width: 0; }
::selection { background: #333; color: #999; }
::-moz-selection { background: #333; color: #999; }

#actionmenu {
	top: 50%;
	left: 50%;
	width: 630px;
	height: 700px;
	display: none;
	overflow: auto;
	position: fixed;
	background: url("images/background.png");
	border-top: 12px solid #111;
	border-left: 12px solid #111;
	border-right: 12px solid #111;
	border-bottom: 40px solid #111;
	transform: translate(-50%,-50%);
}

button {
	top: 50%;
	left: 50%;
	width: 40px;
	height: 14px;
	display: none;
	position: fixed;
	margin-top: 355px;
	background: #8a888c;
	transform: translate(-50%,-50%);
	border: 0;
}

button:hover {
	background: #fff;
}

.menu {
	width: 570px;
	height: 54px;
	float: left;
	margin: 126px 30px 0;
}

.menu a {
	color: #a2a0a0;
	padding: 21px;
	font-weight: 700;
	float: left;
}

.menu a:hover, .menu a:focus {
	background: #2a2928;
}

.menu a::selection {
	color: #a2a0a0;
	background: transparent;
}

#inicio {
	width: 570px;
	height: 424px;
	margin: 30px;
	float: left;
	overflow-y: scroll;
}

.title {
	color: #666;
	width: 570px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px dashed #999;
}

.model {
	color: #333;
	width: 570px;
	background: rgba(0,0,0,0.1);
	float: left;
	margin-bottom: 3px;
}

.model.active {
	background: rgba(58,113,0,0.6);
}

.id {
	background: rgba(0,0,0,0.1);
	padding: 15px 0;
	width: 60px;
	height: 11px;
	float: left;
	font-weight: 700;
	text-align: center;
}

.name {
	padding: 15px 0 15px 15px;
	width: 255px;
	height: 11px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.name2 {
	padding: 15px 0 15px 15px;
	width: 315px;
	height: 11px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.valor {
	background: rgba(0,0,0,0.1);
	padding: 15px 0;
	width: 120px;
	height: 11px;
	float: left;
	text-align: center;
}

.malas {
	padding: 15px 0;
	width: 60px;
	height: 11px;
	float: left;
	text-align: center;
}

.estoque {
	background: rgba(0,0,0,0.1);
	padding: 15px 0;
	width: 60px;
	height: 11px;
	float: left;
	text-align: center;
}

.comprar {
	color: #172100;
	background: #4d7100;
	padding: 12px 10px 11px;
	position: absolute;
	margin: -75px 0 0 488px;
	font-weight: 700;
}

.comprar:hover {
	background: #5d8800;
}

.vender {
	color: #382b00;
	background: #8e6e00;
	padding: 12px 10px 11px;
	position: absolute;
	margin: -75px 0 0 500px;
	font-weight: 700;
}

.vender:hover {
	background: #b58c00;
}

.obs {
	color: #5b0000;
	background: rgba(255,0,0,0.3);
	padding: 15px;
	margin-bottom: 20px;
	line-height: 15px;
	border: 1px solid rgba(90,0,0,0.2);
}